body{
    background-color:lightblue;
    background-image: url("images/lorempixel.people.1.jpeg");
    background-repeat: no-repeat;
    background-position: right top; 
}

#project1 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .project1 img{
    object-fit: contain;
  }
#project2{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
#project3{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
    img.resize {
        width:360px;
        height:320px;
    }
    img.resize2 {
        width:360px;
        height:320px;
    }
#project4{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
#project5{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
