
header{ 
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
body{
  background-image: linear-gradient(120deg, #f6d365 50%, #fda085 100%);
}
h1{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
p{
  text-align: center;
}
.carousel-item img{
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
div.carousel-inner{
  padding-bottom: 40px;

}
.rounded-circle{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: auto;
}
.card-img-top{
  background-image: linear-gradient(120deg, #f6d365 70%, #fda085 100%);
}
div.card{
  background-image: linear-gradient(120deg, #f6d365 70%, #fda085 100%); 
  background-blend-mode: multiply,multiply;
  color: rgb(59, 59, 58);
}

  img.boracay1 {
    width: 540px;
    height: auto;
  }
  
  .Image1{
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
 
  .Image1:hover .desc1 {
    opacity: 1;
  }

  img.boracay2{
    width: 540px;
    height: auto; 
    background-color: white;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 10px 0 rgba(0, 0, 0, 0.19);
  }
  

  .boracay2:hover .overlay {
    opacity: 1;
  }
  img.streetLamp{
    width: auto;
    height: 500px;
    background-color: white;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  img {width: 100%}
  
  

