
body{
    background-image: url("images\pattern-34.jpg");
    background-repeat: repeat-x;
    background-position: right top; 
}

h1{
    position: center;
}
p{
    position: center;
}
h4{
    position: center;
}

#project1 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .project1 img{
    object-fit: contain;
  }
#project2{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
#project3{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
    img.resize {
        width:360px;
        height:320px;
    }
    img.resize2 {
        width:360px;
        height:320px;
    }
#project4{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
    img.Java{
        width:360px;
        height:320px;
    }

